# Vocabulary App Environment Variables

# Path to the JSON data file (recommended: ./db/data.json)
# You can change this to store your vocabulary data in a different location
# best to be an absolute path
VOCAB_DATA_PATH=./db/data.json
